<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!-- Основные настройки окна -->
    <add key="WindowWidth" value="600" />
    <add key="WindowHeight" value="400" />
    <!-- Таймеры обновления информации в милисекундах -->
    <add key="UpdateInterval" value="7200000" />
    <add key="DiskUpdateInterval" value="7200000" />
    <add key="MaxLineLength" value="60" />
    
    <!-- Настройки шрифта, если ставите больше 20 то не забудьте основные настройки окна тоже выставить, иначе не влезет -->
    <add key="FontName" value="Arial" />
    <add key="FontSize" value="18" />
    <add key="FontBold" value="false" />
    <add key="FontItalic" value="false" />
    <add key="FontUnderline" value="false" />
    
    <!-- Настройки цветов -->
    <!-- Также поддерживается формат ARGB в паратемре textColor -->
    <!--<add key="TextColor" value="128,0,0,0" />-->
    <add key="TextColor" value="White" />
    <add key="ShadowColor" value="128,0,0,0" />
    <add key="ShadowAlpha" value="128" />
    <add key="ShadowOffset" value="4" />
    <add key="ShadowLayers" value="1" />
    
    <!-- Позиция окна (правый нижний угол) -->
    <add key="PositionX" value="-1" />
    <add key="PositionY" value="-1" />
    
    <!-- Настройки экспорта в Aspia -->
    <!-- Включить/выключить экспорт в Aspia -->
    <!-- <add key="AspiaEnabled" value="true" /> -->
    <!-- Путь к JSON файлу на сетевом диске для экспорта данных -->
    <!-- <add key="AspiaNetworkPath" value="\\server\share\aspia.json" /> -->
    <!-- Список подсетей для фильтрации IP адресов (через запятую, например: 192.0.0..,172.0.0.,196.0.0.) -->
    <!-- Раскомментируйте и укажите нужные подсети. Если не указано, фильтрация не применяется -->
    <!-- <add key="AspiaNetworkSubnets" value="XXX.XXX.,XXX.XXX.XXX.,XXX.XXX.XX." /> -->
  </appSettings>
</configuration> 